.authors-editor {
  .ant-pro-table {
    .ant-table-thead > tr > th {
      background: #fafafa;
      font-weight: 500;
    }
  }

  .ant-checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
